*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(248, 248, 248);
    font-family: 'Maven Pro', sans-serif;
    font-size: 24px;
    margin: auto;
    margin-top: 5%;
}
ul li{
    text-align: center;
    margin-top: 20px;
    list-style: none;
}

.uno{
    color:rgb(0, 0, 248);
}
.dos{
    color: rgb(0, 217, 255);
}
.tres{
    color:  rgb(0, 245, 131);
}
.cuatro{
    color: rgb(0, 245, 0);
}
.cinco{
    color:  rgb(139, 245, 0);
}
.seis{
    color: rgb(238, 238, 0);
}
.siete{
    color: rgb(245, 229, 0);
}
.ocho{
    color: rgb(245, 159, 0);
}   
.nueve{
    color: rgb(245, 69, 0);
}
.diez{
    color: rgb(243, 0, 0);
}